<div class="col-md-12">
    <div class="submit-form">
      @if (!submitted) {
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.name"
          name="title"
        />
      </div>
  
      <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
      } @else {
      <h4>Teacher Name was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
      }
    </div>
  </div>
